body {
  margin: 0;
  padding: 0;
}

h2, p {
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffafaf;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #ff8282;
}

#heading {
  color: #ffffff;
  font-family: tahoma;
  font-size:larger;
}
#para {
  font-family: tahoma;
  font-size: medium;
  color: #ffffff;
}
#closing {
  font-family: tahoma;
  font-size: medium;
  color: #ffffff;
}
#name {
  font-family: tahoma;
  font-size: medium;
  color: #ffffff;
}

